# Kimiya Ghanai Machine Learning

## online payemnt fraud detection

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## import online payment fraud dataset

In [3]:
df= pd.read_csv('Online Payments Fraud Detection Dataset.csv')
df.head(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,0,0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,0,0
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,0,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,0,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,0,0
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,0,0

In [4]:
# df['isFraud'].value_counts()
df["type"].value_counts()

type
CASH_OUT    2237500
PAYMENT     2151495
CASH_IN     1399284
TRANSFER     532909
DEBIT         41432
Name: count, dtype: int64

## Normalizing data

In [21]:
x = df[["type", "amount", "oldbalanceOrg", "newbalanceOrig"]]
y = df["isFraud"]

In [20]:
from sklearn.preprocessing import LabelEncoder
x = x.apply(LabelEncoder().fit_transform)

## Split train\test

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train_scaled = pd.DataFrame(scaler.fit_transform(x_train), columns=x_train.columns)
x_test_scaled = pd.DataFrame(scaler.transform(x_test), columns=x_test.columns)

## Prediction with Decision Tree

In [14]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(x_train_scaled, y_train)
y_pred = dt.predict(x_test)

## Calculating Accuracy, Precision, Recall, Confusion Matrix

In [15]:
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
cm = confusion_matrix(y_test, y_pred)

In [16]:
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("\nConfusion Matrix:\n", cm)

Accuracy: 0.3313517073155398
Precision: 0.0018944703752928219
Recall: 0.9969135802469136

Confusion Matrix:
 [[420038 850866]
 [     5   1615]]

## User Inputs

In [18]:
mappings = {
    "type": {
        "CASH_OUT": 1,
        "PAYMENT": 2,
        "CASH_IN": 3,
        "TRANSFER": 4,
        "DEBIT": 5
    }
}

In [19]:
user_input = {
    "type": input("Transaction Type: "),
    "amount": float(input("Amount: ")),
    "oldbalanceOrg": float(input("Old Balance Origin: ")),
    "newbalanceOrig": float(input("New Balance Origin: "))
}
for col, mapping in mappings.items():
    if col in user_input:
        user_input[col] = mapping.get(user_input[col], 0) 
columns = x_train.columns  
user_df = pd.DataFrame([user_input], columns=columns)
user_scaled = pd.DataFrame(scaler.transform(user_df), columns=columns)
pred = dt.predict(user_scaled)[0]
label_map = {0: "No Fraud", 1: "Fraud"}
print("Prediction:", label_map[pred])

Transaction Type:  4
Amount:  9000.60
Old Balance Origin:  9000.60
New Balance Origin:  0

Prediction: Fraud